<html>
 <head>
 </head>
 <body>
<% if session[:message] %>
 <h3><%= session[:message] %>
 <% session[:message] = nil%>
 <% end %>

 <h3 style= text-align: center>Please logon to play</h3>
 <form action="/login" method='post'>
 <table style="width:100%">
    <tr><td>
	<table style="width:30%">
	<tr>
    Username: <input type='text' name='username'></input>
    <br>
	<br>
    Password: <input type='text' name='password'></input>
    <br>
	</tr>
	<br>
	<tr>
    <td><input type='submit' name='submit'></input></td>
	</tr>
	</table>
	</td>
	<td>
	<img src="images/dice.gif" alt="roll dice" width=50% height=50%>
	</td></tr>
 </table>
 </form>
 </body>
 </html>
